environments:
  istio: &I
    values:
      - ../common/gateway-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../common/gateway-configurations/kgateway.yaml
  gke: &GKE
    values:
      - ../common/gateway-configurations/gke.yaml
  gke_tpu: &GKE_TPU
    values:
      - ../common/gateway-configurations/gke_tpu.yaml
  default:
    <<: *I

---

{{- $ns := .Namespace | default "llm-d-inference-scheduling" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "inference-scheduling" -}}
{{- $model := (env "MODEL") | default "Qwen/Qwen3-0.6B" -}}
{{- $pvc := (env "PVC") | default "model-storage" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/
  - name: psap-charts
    url: https://kdvalin.github.io/psap-charts/

releases:
  - name: {{ printf "llm-download-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: psap-charts/psap-llm-loader
    version: 0.2.4
    labels:
      kind: inference-stack
    installed: true
    set:
      - name: llm_loader.model
        value: {{ $model }}
      - name: llm_loader.pvcName
        value: {{ $pvc }}

  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-infra/llm-d-infra
    version: v1.3.0
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
        {{ .Environment.Values.gateway | toYaml | nindent 10 }}
      - gateway:
          destinationRule:
            host: {{ printf "gaie-%s-epp.%s.svc.cluster.local" $rn $ns | quote }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v0.5.1
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - gaie-inference-scheduling/values.yaml
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.7
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
      - {{ printf "gaie-%s" $rn | quote }}
      - {{ printf "llm-download-%s" $rn | quote }}
    values:
    {{- if eq .Environment.Name "gke_tpu" }}
      - ms-inference-scheduling/values_tpu.yaml
    {{- else }}
      - ms-inference-scheduling/values.yaml
    {{- end }}
      - ms_values.yaml
    set:
    # apply release name derived values
      - name: "routing.inferencePool.name"
        value: {{ printf "gaie-%s" $rn | quote }}
      - name: "routing.parentRefs[0].name"
        value: {{ printf "infra-%s-inference-gateway" $rn | quote }}
      - name: "modelArtifacts.uri"
        value: {{ printf "pvc://%s/%s" $pvc $model | quote }}
      - name: "modelArtifacts.name"
        value: {{ $model | quote }}
      - name: "routing.modelName"
        value: {{ $model | quote }}
    labels:
      kind: inference-stack
